{% extends 'base.html.twig' %}

{% block title %}Transactions{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-credit-card"></i>
                        Transactions
                    </h3>
                </div>


                <div class="card-body">
                    <div class="row align-items-center ">
                        <div class="col-md-3"  style="padding: 5px;">
                            <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;">
                                <i class="fa fa-calendar"></i>&nbsp;
                                <span></span> <i class="fa fa-caret-down"></i>
                            </div>
                            <input type="hidden" id="filter_start_date" name="filter_start_date" />
                            <input type="hidden" id="filter_end_date" name="filter_end_date" />
                        </div>
                    </div>


                    <table class="table table-bordered table-hover" id="transactionTableList">
                        <thead>
                        <tr>
                            <th>Trans ID</th>
                            <th>Order ID</th>
                            <th>Amount</th>
                            <th>Currency</th>
                            <th>Status</th>
                            <th>Date</th>
                            <th>Details</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block inlineCss %}
    <link rel="stylesheet" href="{{ asset('build/js/daterangepicker/daterangepicker.css') }}">
{% endblock %}


{% block inlineJs %}
    <script src="{{ asset('build/js/daterangepicker/moment.min.js') }}"></script>
    <script src="{{ asset('build/js/daterangepicker/daterangepicker.js') }}"></script>

    <script>
        let transactionTable;

        $(document).ready(function () {
            var start = moment().subtract(29, 'days');
            var end = moment();

            function cb(start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                $('#filter_start_date').val(start.format('YYYY-MM-DD'));
                $('#filter_end_date').val(end.format('YYYY-MM-DD'));
                if(transactionTable){
                    transactionTable.ajax.reload();
                }
            }

            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            cb(start, end);

            transactionTable = $('#transactionTableList').DataTable({
                "paging": true,
                "searching": true,
                "ordering": false,
                "responsive": true,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "{{ path('app_transaction_index') | raw }}",
                    "type": 'POST',
                    'data': function (params) {
                        params.filter_start_date = $('#filter_start_date').val();
                        params.filter_end_date = $('#filter_end_date').val();
                        return params;
                    },
                    global: true
                },
                "columns": [
                    {"data": "transId"},
                    {"data": "orderId"},
                    {"data": "amount"},
                    {"data": "currency"},
                    {"data": "status"},
                    {"data": "createdDate"},
                    {
                        "data": "action",
                        "render": function (data) {
                            return '<a href="' + data['details'] + '" class="btn btn-default"><i class="fas fa-info-circle"></i> Details</a>';
                        }
                    }
                ]
            });

            $('#btnSearch').click(function () {
                transactionTable.ajax.reload();
                return false;
            });

        });
    </script>
{% endblock %}

