{% extends 'base.html.twig' %}

{% block title %}Companies
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-12">
			<div class="main-order-pg-btn-flex">

				<div
					class="accept-order-img">
					{# <img class="img-set" src="\build\images\Company.4ed89b3c.png" > #}
					<img class="img-set" src="{{ asset('images/Company.png') }}" alt="Logo" style="width: 45px;height: 43px; margin-top: 12px;">


					<h2 class="title-heading2">Companies</h2>
				</div>

				{% include 'controller/new_order_quote/index.html.twig' with {'newOrders': newOrders, 'newQuotes': newQuotes} %}
			</div>

			<div class="row">
				<div class="col-12 bgcolor-table">
					<div class="card" style="border-radius:15px !important;">
						<div class="company-searcher" style="height: 85px;">
							<div class="input-container">
								<input id="searchField" class="search-feild-text" type="text" placeholder="Search" style="margin-top: 25px;">
								<i class="fa fa-search" style="margin-top: 18px;"></i>
							</div>

							{% if is_granted('ROLE_ADMIN')  %}
								<div class="card-tools d-flex">
									<ul class="nav nav-pills ml-auto" style="height: 30px;">
										<li class="nav-item" style="margin-top: 30px !important;">
											<a style="padding-top:4px;width:150px" href="{{ path('app_company_new') }}" class="btn btn-block btn-sm companies-btn">
												<i class="fa fa-plus icn4"></i>
												Add Company</a>
										</li>
									</ul>
									<span class="mt-2" id="entriesDropdownContainer" style="margin-left: 20px;width: 75px; font-size:13px;"></span>
								</div>
							{% endif %}
							
						</div>
						<div class="card-body">
							<table class="table table-bordered table-hover" id="userTableList">
								<thead>
									<tr>
										<th>Logo</th>
										<th>Name</th>
										<th>Code</th>
										<th>Type</th>
										<th>Active</th>
										<th>Actions</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>

		{% endblock %}

		{% block inlineJs %}
			 <script>
						         $(document).ready(function () {
			        let table = $('#userTableList').DataTable({
			            paging: true,
			            ordering: false,
			            responsive: true,
			            processing: true,
			            serverSide: true,
						columnDefs: [ // Align all columns centrally
        				{ targets: [0], width: '25%' }, // Example: Adjust width for Country column
        				{ targets: [1], width: '25%' }, // Example: Adjust width for Country column
        				// { targets: [5], width: '20%' }, // Example: Adjust width for Country column
        				// { targets: [8], width: '25%' }, // Example: Adjust width for Country column
        				{ targets: [2, 3, 4, 5], width: '10%' }, // Example: Adjust width for numeric columns
    					],
			            ajax: {
			                url: "{{ path('app_company_index') }}",
			                type: 'POST',
			                data: function (d) {
			                    d.search.value = $('#searchField').val(); // Bind search input to DataTables
			                }
			            },
			            columns: [
			                {
			                    data: "logoImage",
			                    render: function (data, type, row) {
			                        return `<img src="${data}" width="${row.logoWidth}" alt="${row.name}" />`;
			                    }
			                },
			                { data: "name" },
			                { data: "code" },
			                { data: "type" },
			                {
			                    data: "active",
			                    render: function (data) {
			                        return data
			                            ? '<i class="fas fa-check-square cheakicon"></i>'
			                            : '<i class="far fa-square"></i>';
			                    }
			                },
			                {
			                    data: "action",
			                    render: function (data) {
			                        return `<a href="${data.details}" class="btn btn-default"><i class="fas fa-info-circle icn"></i> Details
			                                </a>`;
			                    }
			                }
			            ],
						 dom: 'lfrtip'
			        });
			
			    // Move "Show Entries" dropdown next to Add Company button
			    let entriesDropdown = $('#userTableList_length').detach();
			    $('#entriesDropdownContainer').append(entriesDropdown);
			
			        // Trigger search on input change
			        $('#searchField').on('input', function () {
			            table.search(this.value).draw();
			        });
			    });
						    </script>
		{% endblock %}
