<div class="order-pg-btn-flex">
    <div class="order-pg-btn1">
        <img class="img-order-pix" src="{{ asset('images/Receipt.png') }}" alt="Logo">
        <div>
            <p class="img-side-text-order">New Orders ({{ newOrders|length }})</p>
        </div>
    </div>
    <div class="order-pg-btn2">
        <img class="img-order-pix" src="{{ asset('images/Receipt.png') }}" alt="Logo">
        <div>
            <p class="img-side-text-order">New Quotes ({{ newQuotes|length }})</p>
        </div>
    </div>
</div>
