{% extends 'base.html.twig' %}

{% block title %}Audit Log
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12">
			<div class="main-order-pg-btn-flex">

				<div
					class="accept-order-img">
					{# <img class="img-set" src="\build\images\Info.311e7535.png" > #}
					<img class="img-set" src="{{ asset('images/Info.png') }}" alt="Logo" style="width: 45px;height: 43px; margin-top: 10px;">

					<h2 class="title-heading1">
						Audit Log</h2>
				</div>

				{% include 'controller/new_order_quote/index.html.twig' with {'newOrders': newOrders, 'newQuotes': newQuotes} %}
			</div>
			<div class="row">
				<div class="col-12 bgcolor-table">
					<div class="card" style="border-radius:15px !important;">
						<div class="card-header">
							<div class="company-searcher">
								<div class="input-container">
									<input id="searchField" class="search-feild-text" type="text" placeholder="Search"
									style="margin-top: 30px;">
									<i class="fa fa-search"></i>
								</div>
								<div class="mt-2" id="entriesDropdownContainer" style="margin-left: 20px;width: 75px;"></div>
							</div>
							<div class="card-body">
								<table class="table table-bordered table-hover" id="userTableList">
									<thead>
										<tr>
											<th>Module</th>
											<th>Action</th>
											<th>Description</th>
											<th>IP</th>
											<th>User</th>
											<th>Date</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>

			{% endblock %}

			{% block inlineJs %}
				 <script>
								        $(document).ready(function () {
								            let table = $('#userTableList ').DataTable({
								                "paging": true,
								                "ordering": false,
								                "responsive": true,
								                "processing": true,
								                "serverSide": true,
								                "ajax": {
								                    "url": "{{ path('app_audit_index') | raw }}",
								                    "type": 'POST',
								                    "data": function (d) {
				                                     d.search.value = $('#searchField').val(); // Pass search input value to backend
				                                    }
								                },
								                "columns": [
								                    {"data": "module"},
								                    {"data": "action"},
								                    {"data": "description"},
								                    {"data": "ip"},
								                    {"data": "user"},
								                    {"data": "date"},
								                ]
								            });
											 // Move "Show Entries" dropdown next to Add Company button
								    let entriesDropdown = $('#userTableList_length').detach();
								    $('#entriesDropdownContainer').append(entriesDropdown);
											 // Trigger search on input change
				                                $('#searchField').on('input', function () {
				                                 table.search(this.value).draw();
				                             });
								        });
								    </script>
			{% endblock %}
