{% extends 'base.html.twig' %}

{% block title %}Audit Log{% endblock %}

{% block body %}
<div class="row">
        <div class="col-12">
<div class="main-order-pg-btn-flex">

<div class="accept-order-img">
{# <img class="img-set" src="\build\images\Info.311e7535.png" > #}
<img class="img-set"  src="{{ asset('build/images/Info.311e7535.png') }}" alt="Logo">

<h2 class="title-heading"> Audit Log</h2>
</div>

<div class="order-pg-btn-flex">
<div class="order-pg-btn1">
{# <img  src="\build\images\Receipt.bedbb541.png" class="img-order-pix"> #}
<img  class="img-order-pix"  src="{{ asset('build/images/Receipt.bedbb541.png') }}" alt="Logo">

<div>

 <p class="img-side-text-order" > New Orders(7)</p>
 </div>
</div>

<div class="order-pg-btn2">
{# <img  src="\build\images\Receipt.bedbb541.png" class="img-order-pix"> #}
<img  class="img-order-pix"  src="{{ asset('build/images/Receipt.bedbb541.png') }}" alt="Logo">

<div>

 <p class="img-side-text-order" > New Ouote(0)</p>
 </div>
</div>
</div>
</div>
    <div class="row">
        <div class="col-12 bgcolor-table">
            <div class="card">
                <div class="card-header">
                   <div class="company-searcher">
                    <div class="input-container">
      <input type="text" placeholder="Search">
      <i class="fa fa-search"></i>
    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover" id="userTableList">
                        <thead>
                        <tr>
                            <th>Module</th>
                            <th>Action</th>
                            <th>Description</th>
                            <th>IP</th>
                            <th>User</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block inlineJs %}
    <script>
        $(document).ready(function () {
            $('#userTableList ').DataTable({
                "paging": true,
                "ordering": false,
                "responsive": true,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "{{ path('app_audit_index') | raw }}",
                    "type": 'POST',
                    global: true
                },
                "columns": [
                    {"data": "module"},
                    {"data": "action"},
                    {"data": "description"},
                    {"data": "ip"},
                    {"data": "user"},
                    {"data": "date"},
                ]
            });

        });
    </script>
{% endblock %}


