{% extends 'base.html.twig' %}

{% block title %}Package Types
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-12">
			<div class="main-order-pg-btn-flex">

				<div
					class="accept-order-img">
					{# <img class="img-set" src="\build\images\Two Tickets.0c087e13.png" > #}
					<img class="img-set" src="{{ asset('images/TwoTickets.png') }}" alt="Logo" style="width: 45px;height: 43px; margin-top: 12px;">

					<h2 class="title-heading1">
						Package Types</h2>
				</div>

				{% include 'controller/new_order_quote/index.html.twig' with {'newOrders': newOrders, 'newQuotes': newQuotes} %}
			</div>

			<div class="row">
				<div class="col-12 bgcolor-table">
					<div class="card" style="border-radius:15px !important;">
						<div class="card-header">

							<div class="company-searcher">
								<div class="input-container">
									<input id="searchField" class="search-feild-text" type="text" placeholder="Search" style="margin-top: 30px;">
									<i class="fa fa-search"></i>
								</div>
								{% if is_granted('ROLE_ADMIN')  %}
									<div class="card-tools d-flex">
										<ul class="nav nav-pills ml-auto" style="height: 30px;">
											<li class="nav-item" id="for-border" style="margin-top: 30px !important;">
												<a style="width:180px;padding-top:-1px !important" href="{{ path('app_package_type_new') }}" class="btn btn-primary btn-block btn-sm pakagestype-btn companies-btn" style="padding-top:4px;width:150px">
													<i class="fa fa-plus icn41pakages" ></i>
													Add Package Type</a>
											</li>
										</ul>
										<span class="mt-2" id="entriesDropdownContainer" style="margin-left: 20px;width: 75px;"></span>
									</div>
								{% endif %}
							</div>
							<div class="card-body bgcolor-table">
								<table class="table table-bordered table-hover" id="userTableList">
									<thead>
										<tr>
											<th>Name</th>
											<th>Code</th>
											<th>Type</th>
											<th>Max Weight (kg)</th>
											<th>Sort</th>
											<th>Active</th>
											<th>Actions</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>

			{% endblock %}

			{% block inlineJs %}
				 <script>
								        $(document).ready(function () {
								          let table = $('#userTableList').DataTable({
								                "paging": true,
								                "ordering": false,
								                "responsive": true,
								                "processing": true,
								                "serverSide": true,
								                "ajax": {
								                    "url": "{{ path('app_package_type_index') | raw }}",
								                    "type": 'POST',
								                    "data": function (d) {
				                                     d.search.value = $('#searchField').val(); // Pass search input value to backend
				                                    }
								                },
								                "columns": [
								                    {"data": "name"},
								                    {"data": "code"},
								                    {"data": "type"},
								                    {"data": "maxWeight"},
								                    {"data": "sort"},
								                    {
								                        "data": "active",
								                        "render": function (data) {
								                            if (data) {
								                                return '<i class="fas fa-check-square"></i>';
								                            }
								                            return '<i class="far fa-square"></i>';
								                        }
								                    },
								                    {
								                        "data": "action",
								                        "render": function (data) {
								                            return '<a href="' + data['details'] + '" class="btn btn-default"><i class="fas fa-info-circle icn "></i> Details</a>';
								                        }
								                    }
								                ]
								            });
											   // Move "Show Entries" dropdown next to Add Company button
				    let entriesDropdown = $('#userTableList_length').detach();
				    $('#entriesDropdownContainer').append(entriesDropdown);
				                            // Trigger search on input change
				        $('#searchField').on('input', function () {
				            table.search(this.value).draw();
				        });
								
								        });
								    </script>
			{% endblock %}
