{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block body %}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Change Password</h3>
        </div>
        {{ form_start(form) }}
        <div class="card-body">
            {{ form_widget(form) }}

            <h6>Password Requirements</h6>
            <ul>
                <li>Cannot use your current password</li>
                <li>Minimum 8 characters</li>
                <li>Should have upper and lower case alphabets</li>
                <li>Should have number</li>
                <li>Should have special characters</li>
            </ul>
        </div>

        <div class="card-footer">
            <button class="btn btn-primary">{{ button_label|default('Update') }}</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block inlineJs %}

{% endblock %}

