<footer class="main-footer">
    <div class="float-right d-none d-sm-block">
        <b>Version</b> 1.0.0 <a href="https://www.bluebeetle.ae/" target="_blank">❤️</a>
    </div>
    <strong>Copyright &copy; {{ 'now' | date('Y') }} <a href="https://www.senditworld.com/" target="_blank">Send it</a>.</strong> All rights reserved.
</footer>