<aside class="control-sidebar control-sidebar-dark">
    <div class="sidebar">
        <nav class="mt-2">
            {% set menuList = getRightMenu() %}
            <ul class="nav nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                {% for menu in menuList %}
                    <li class="nav-item">
                        <a href="{{ menu.url }}" class="nav-link {% if menu.active %} active {% endif %}">
                            <i class="{{ menu.iconClass }}"></i>
                            <p>{{ menu.caption }}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</aside>
