@import '~@fortawesome/fontawesome-free/css/all.css';

@import "fonts.css";
@import "~select2";
@import '~bootstrap/scss/functions';
@import '~admin-lte/build/scss/bootstrap-variables';
@import "~bootstrap/scss/bootstrap";

@import "~admin-lte/build/scss/variables";
@import "~admin-lte/build/scss/variables-alt";
@import "~admin-lte/build/scss/mixins";

@import "~admin-lte/build/scss/parts/core";
@import "~admin-lte/build/scss/parts/components";
@import "~admin-lte/build/scss/parts/miscellaneous";

@import "~admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.css";

@import "~admin-lte/build/scss/pages/login_and_register";

.content-wrapper > .content {
  padding: 0.5rem 0.5rem;
}

div.flash-messages {
  padding: 10px;
}
.content-wrapper > .content {
  padding: 0.5rem 0.5rem;
}
div.flash-messages {
  padding: 10px;
}
body{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-family: "Carmen Sans "!important;

}

.sidebar-dark-primary .nav-sidebar>.nav-item >.nav-link.active {
  // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #1985A1;
  border-radius:  7px;
  // margin-top: 3px;
  // height: 800px;
color: rgb(70, 73,76),1;

}
@media (min-width: 768px) {
  body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
      transition: margin-left 0.3s ease-in-out;
      margin-left: 330px;
  }
}
body:not(.layout-fixed) .main-sidebar {
  height: inherit;
  min-height: 100%;
  position: absolute;
  top: 0;
  width: 330px;
}

.nav-item:hover{
  background-color: #1985A1;
  color: white  !important;
  
  transition:all 0.5s;
  border-radius:  7px;
}
[class*=sidebar-dark-] .sidebar a {
 

  height: 45px;
  padding: 8px;
  font-size: 20px; 
}

.sidebar {
  background-color: rgb(255, 255, 255);
  color: #46494C;
}
.nav-sidebar{
  background-color: rgb(255, 255, 255);

}
.brand-link{
  background-color: #ffffff;
margin-top: -2px;
  // border-bottom: 1px solid red !important;
  box-shadow: 0px 3px  2px lightgray !important;
  border-bottom: 2px solid #dee2e6 !important;



  border-bottom:none !important;
}
table{
  border-radius: 15px;
  overflow: hidden;
}

.main-header a {
  border-bottom:none !important;

}
// .nav-item{
//   color: blue !important;
// }

[class*=sidebar-dark-] .sidebar a {
  color: #46494C ;
}
[class*=sidebar-dark-] {
  background-color: #ffffff !important;
  box-shadow: 0px 3px  2px lightgray !important;

}

// .fa, .fas, .far, .fal, .fad, .fab {
 
//   color:#1985A1 ;
// }
.fa, .fas, .fal, .fad, .fab {
 
  color:#1985A1 ;
}
.calender-icn{
  color:#787878 !important ;
}
 .nav-item:hover i{
 
  color:#ffffff;
}
.nav-item a.active i{
  color: #ffffff;

}
.elevation-4 {
  box-shadow: none !important;
}
.main-header.navbar.navbar-expand ul:nth-child(1){
  display: none;
}
.nav.main-header.navbar.navbar-expand.navbar-white.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 3px  2px lightgray !important;
  border-bottom: 2px solid #dee2e6 !important;

}
.content-wrapper {
  background: #EAEAEA;
  
}
[class*=sidebar-dark] .brand-link {
  box-shadow: 0px 2px  2px lightgray !important;
  position: relative;
    z-index: 10;
     border-bottom: 1px solid #dee2e6 !important;
}
.bg-primary, .bg-primary > a {
  color: #fff !important;
  background-color:#1985A1 !important;
}
.about-dashboard{
  font-family: Carmen Sans;
  color:  #6F6F6F;
  margin-top: -10px;
  margin-left: 2px;
}



.heading-dashboard{
  display: flex;
  width:auto;justify-content: space-between;
}
.calender-input{
  display: flex;
  justify-content: right;
  justify-content: space-between;
margin: 5px;gap: 1rem;
}

.input-1{
 border-radius: 2px;
 border: none;
 width: 55px;color: #1985A1;
 height: 15px;

}
.input-2{
  border-radius: 2px;
  border: none;
  width: 55px;color: #1985A1;
  height: 15px;
 }

 .outer-div{
display: flex;
// justify-content: space-between;
max-width: 100%;
 }
 .custom-select{
  border-radius: 10px !important;
  font-size: 103%;
  // padding: 1px 0px 1px 4px;
  padding: 0px 0px 3px 2px;
 }
 div.dataTables_wrapper div.dataTables_length label {
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  color: #787878;margin-top: 3px;
  margin-bottom: 30px;
}
 


div.dataTables_wrapper div.dataTables_length select {
  width: 55px;
  display: inline-block;
  width: 48px; 
  height: 25px;
  padding-left: -4px;
}
select.custom-select.custom-select-sm {
  border-radius: 8px !important;
 
}
 .custom-select-sm{
  font-size: 95%;
 }
 .inner1-div{
 
  height: 240px;
  width: 580px;padding: 25px 0px 25px 25px ;
  background-color: #ffffff;
  border-radius: 20px;
  margin-right: 120px;
 }
 .rupees-heading{
  font-weight:700 ;font-size: 22px;
 }
 .rupees-heading-text{
  // font-weight: 400;
font-size: 15px;margin-top: -3px;
}
 .inner2-div{
  border: none;
  height: 290px;
  width: 450px;


 }
 .btn-default {
  background-color: #ddd;
  border-color: #ddd;
  color: #444;
}
.icn {
  color: #000;
}
.icn2{
  color: #1985A1;padding-top: 3px;
}
.icn3{
  color: #ffffff;padding-top: 3px;
}
.btn-back{
  border-radius: 20px;margin-left: 5px;height: 37px;
}
.icn4{
  border-radius: 20px;height: 37px;
}

.oder-outer1{
  display: flex;justify-content: space-between;padding: 10px;margin-top: -10px;
}
.oder-inner{
  height: 73px;background-color: #ffffff;margin-left: 15px;
  border-radius: 15px;border: none;gap: 39px;
  width: 200px;display: flex;padding: 10px;word-wrap: break-word;
}
.img-set{
  width: 50px;
  height: 50px;
}
.img-side-head{
  font-weight: 700;
  font-size: 28px;margin-left: -15px;
}
.img-side-text{
  font-weight: 200;margin-left: -13px;
  font-size:11px;
}
.content-wrapper > .content {
  padding: 20px !important;
}
.accept-order-img{
  display: flex;padding: 0px 30px 30px 0px;gap: 20px;
}
.main-order-pg-btn-flex{
  display: flex;
  justify-content: space-between;
}
.order-pg-btn-flex{
  display: flex;padding: 10px;margin-top: -10px;
  justify-content: space-between; gap: 20px;
}


.order-pg-btn1{
  height: 50px;background-color: #ffffff;
  border-radius: 5px;border: none;gap: 20px;
  width: 170px;display: flex;padding: 10px;
}
.order-pg-btn2{
  height: 50px;background-color: #ffffff;
  border-radius: 5px;border: none;gap: 20px;
  width: 170px;display: flex;padding: 10px;
}
.img-side-text-order{
  font-weight: 400;
  font-size: 12px;
margin-top: 7px;
   display: flex;
   color:#46494C ;
}
// style #attribute {
//   background: #9e2929;
//   cursor: pointer;
//   padding: 5px 10px;
//   border: 1px solid #ccc;color:#46494C ;
//   width: 320px;border-radius: 5px;
// }
.img-order-pix{
  height: 35px;width: 35px;
}
.title-heading{
  margin-top: 6px;
}
div.dataTables_wrapper div.dataTables_filter {
  text-align: right;
  display: none !important;
}
.cheakline {
 
  background-color: black;
  width: 130px;
  height: 5px;
  margin-left: 110px;
}
.icon-set{
  width: 20px;height: 20px;
}
*{
  font-family: Carmen Sans;
}
.btn-primary {
  color:#1985A1 !important;
  background: transparent !important;
  border-color:#1985A1;
  box-shadow: none;
  border-radius: 20px;
  width: 80px;
  height: 40px;
  display: flex;text-align: center;justify-content: center;
}
.btn-primary:hover{
  border-color:#1985A1 !important;
}
.company-searcher{
  display: flex;
  justify-content: space-between;
padding: 15px ;
margin-bottom: -15px;
margin-left: -15px;
}
.input-container {
  position: relative;padding-left: 20px;
  width: 300px;
}

.input-container input {
  width: 100%;
  height: 35px;
  padding: 10px;
  padding-right: 35px; /* Add padding to the right to make space for the icon */
  font-size: 16px;
  border-radius: 20px;
    box-sizing: border-box;
    border: 1px solid #D8D8D8;
    color: black; /* Text color (when the user types) */
}

.input-container .fa {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);

  color: #D8D8D8;
  cursor: pointer; /* Change the cursor to a pointer on hover */
}

.input-container .fa:hover {
  color: #000; /* Optional: Change icon color when hovered */
}
input::placeholder {
  
  color: #D8D8D8;
}
.input-email-placeholder::placeholder {

  transform: translatex(40px); /* Adjust position vertically */
}
.input-password-placeholder::placeholder {

  transform: translatex(10px); /* Adjust position vertically */

}
input::placeholder::after{


  color: #000000;
}
.input-container input:focus {
border: color(#D8D8D8) !important;
border-color: #D8D8D8 !important;
border: none !important;
}

.header-login{
display: flex;
text-align: center;justify-content: center;
font-size: 30px;color: #fff;

}
.login-box-msg, .register-box-msg {
  margin: 0;
  padding: 0 20px 20px;
  text-align: center;color: #fff;
}
.input-group:not(.has-validation) > .form-control:not(:last-child), .input-group:not(.has-validation) > .custom-select:not(:last-child), .input-group:not(.has-validation) > .custom-file:not(:last-child) .custom-file-label, .input-group:not(.has-validation) > .custom-file:not(:last-child) .custom-file-label::after {

    border: 5px;height: 60px;
  border-radius: 5px;
}
.login-card-body .input-group .form-control, .register-card-body .input-group .form-control {
   border-right: 0; 
   margin-top: 4px;
}
.form-control{
  border-radius: 1.25rem !important;
  color: #787878
}
.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 1.25rem;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
}
.mb-1 a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  display: flex;
  justify-content: right;
}
.col-4 .btn-primary {
  color: #ffffff !important;
  background: #1985A1 !important;
  border-color: rgb(25, 133, 161);
  box-shadow: none;
  border-radius: 5px;
  width: 190px;font-size: 20px;
  height: 47px;font-weight: 500;
  display: flex;
  text-align: center;justify-content: center;
}
.col-4 .btn-primary:hover{
  background:rgba(67,69,71,255) !important;
}
.login-center{
  display: flex;
  text-align: center;
  margin-top: 30px;
  justify-content: center;
  margin-left: -45px;
}
.login-card-body, .register-card-body {
 border-radius: 55px;
  color: #000000;
  padding: 40px;
  // background: rgba(18, 123, 149, 0.1) !important; /* Transparent background */
  background: linear-gradient(to right, rgb(25, 133, 161,0.4),rgb(25, 133, 161,0.2),rgb(214, 214, 214,-0.5),rgb(25, 133, 161,0.4)),;
  backdrop-filter: blur(-2px); /* Blurs the background behind the form */

}
.card-new-set {
  
  display: flex !important;
height: 410px;
margin-left: -50px !important;
  word-wrap: break-word !important;
  width: 540px;
  background-color: rgba(255, 255, 255, 0.2) !important;
  background-clip: border-box !important;
  border: 0 solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 0.25rem !important;
  backdrop-filter: blur(10px) ; /* Blurs the background behind the form */
  z-index: 1 !important; /* Keep the form in front */
  border-radius: 55px !important;
}
.login-page,.register-page {
 

  max-width: 100%;
   
      display: flex;
  justify-content: center;background-size: cover;
  align-items: center;
  background-image: linear-gradient(to right, rgba(119, 223, 252, 0.512), rgba(137, 220, 245, 0.485)),url('../images/login-logo.png');
}

.companies-btn{
  color: #ffffff !important;
  background: #1985A1 !important;
  border-color: #1985A1;
  box-shadow: none;
  border-radius: 2px;
  width: 120px !important;
  height: 32px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.icon-color-companie{
  color: #fff;
margin-top: 4px;margin-right: 5px;
}
.pakagestype-btn{
  width: 150px;
  height: 31px;
  border-radius:5px ;

}
.icon-pakagestype{
  margin-top: 5px;margin-right: 7px;
}
.pakagestype-btn:hover{
color: #fff !important;
border-radius:5px ;
}
.user-btn{
  width: 110px;
  height: 33px;
  border-radius:5px;text-align: center;justify-content: center;

}
.icon-user{
  margin-top: 4px;margin-right: 13px;
}
 .user-btn:hover{
  color: #fff !important;
  border-radius:5px;
  
  }


.password-feild{
  height: 50px;
border: none;background-color: transparent;
}
.password-feild:focus{
  background-color: transparent;
}

.input-container-password {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  width: 250px;
}

.input-container-password img {
  margin-right: 8px;
  width: 20px; /* Set width of the icon image */
  height: 20px; /* Set height of the icon image */
}

.input-container-password input {
  border: none;
  outline: none;
  width: 100%;
}
.input-group-text {
  // display: flex; 
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;width: 30px;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border-radius: 1px 0px 1px 1px solid black;
  border-radius: 0.25rem;
  /* border: 2px solid black; */margin-left: 2px;
  background-color:transparent!important;
  border-radius: 5px 0px 0px 5px !important;
  border:none;
}
.password-bg-white{
  background-color: white !important;
  border-radius: 5px;
height: 60px;

}
.icon-lock-color{
 margin-top: -1px;
      width: 27px; /* Set width of the icon image */
      height: 27px; /* Set height of the icon image */
}
   /* Change background color on autofill */
   .autofill-color input:-webkit-autofill {
    background-color: #ffffff !important; /* Light blue background */
    transition: background-color 5000s ease-in-out 0s; /* Prevents default color flash */
  }
  
  .autofill-color input:-webkit-autofill:focus {
    background-color: #ffffff !important;
  }
  .login-box-msg, .register-box-msg {
    margin-top: -10px;
    padding: 0 20px 20px;
    text-align: center;
    color: #fff;
}
.mb-1 a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  display: flex;
  justify-content: right;
  margin-top: -14px;
  font-size: 14px; ;
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #1985A1;
  border-color: #1985A1;
}
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #000000;
  background-color: #fff;
  border: none;
}
div.dataTables_wrapper div.dataTables_info {
  padding-top: 0.85em;
  display: none;
}
.btn-default:hover{
  background-color: #1985A1 !important;
  border-color: #ddd;
  color: #ffffff;
}
[class*=sidebar-dark-] .nav-sidebar > .nav-item > .nav-link.active {
  color: #fff;
   box-shadow: none;
   margin-top: 0.2rem;

}


div.dataTables_processing > div:last-child > div:nth-child(1) {
  left: 8px;
  animation: datatables-loader-1 0.6s infinite;
  background-color: #1985A1;
}
div.dataTables_processing > div:last-child > div:nth-child(2) {
  left: 8px;
  animation: datatables-loader-2 0.6s infinite;
  background-color: #1985A1;
}
div.dataTables_processing > div:last-child > div:nth-child(3) {
  left: 32px;
  animation: datatables-loader-2 0.6s infinite;
  background-color: #1985A1;
}
div.dataTables_processing > div:last-child > div:nth-child(4) {
  left: 56px;
  animation: datatables-loader-3 0.6s infinite;
  background-color: #1985A1;
}
.card-primary:not(.card-outline) > .card-header {
  background-color: #ffffff;
  height: 50px !important;
}
.comany-head-form{
  color: #000;
  font-size: 20px;margin-top: -3px;
}
.company-icon-head{
  width: 40px !important;
  height: 40px !important;margin-top: 5px;
}
.flex-of-comany-form{
  display: flex;
}
div.card-footer{
  display: flex;background-color: #ffffff;padding: 30px 0px 40px 2px;
}
.card{
  
    box-shadow:none;
    margin-bottom: 1rem;

}
td{
  color: #46494C;
  ;
}
th{
  color: #46494C;
}
label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 700;
  color: #46494C;
}

.main-footer {
  background-color: #fff;
  
  color: rgb(134.015625, 143.75, 153.484375);
  padding: 1rem 1rem 1rem 2rem;
  margin-left: 0px !important;
  border: none;
  font-size: 15px;
}
.btn-danger{
  margin-left: 10px;
}
.pakag-show-btn{
  margin-left:12px;
}
.compani-show-btn{
  margin-left:12px;height: 37px;

}
.btns-last-icon{
padding-top: 3px;
padding-right: 8px;

}
.compani-btns-last{
width: 120px;height: 30px;
}
.compani-btns-last:hover{
  color: #ffffff !important;
  border-radius: 15px !important;
}

.btn-danger {
  color: #1985A1  !important;
  background-color: #ffffff!important;
  border-color: #1985a1 !important;
  box-shadow: none;
}
div.card-footer{
  background-color: #fff;
  height: 88px;
  border-radius: 17px;

}

div.card-footer {
  background-color: #ffffff;
}
.btn-cancle{
  height: 37px ;
  border-radius: 20px;

}
.btn-cancle2{
  height: 37px ;
  border-radius: 20px;

}
.btn-back{
  height: 37px ;
  border-radius: 20px;
}
//media qureys//media qureys//media qureys//media qureys//media qureys//media qureys//media qureys//media qureys//media qureys
@media (min-width:1000px) and (max-width:1110px) {
  .outer-div{
display: flex;justify-content: center;
flex-direction: column;

  }
  .inner2-div{
    margin-top: 50px; 
    margin-left: 10px;
  }

  .inner1-div{
    width: 500px;
  }
}
@media (min-width:780px) and (max-width:999px) {
  .outer-div{
    display: flex;justify-content: center;
    flex-direction: column;
    margin-left: 150px;
      }
      .inner2-div{
        margin-top: 50px;
    margin-left: 45px;
      }
    
      .inner1-div{
        width: 560px;
        
      }
      .dashboard-header{
       margin-left: 300px;
      }
      .about-dashboard{
        margin-left: 280px;

      }
      .body:not(.layout-fixed) .main-sidebar{
        height: inherit;
        min-height: 100%;
        position: absolute;
        top: 0;
        width: 0px !important;
    }
    .sidebar{
      // display: none;
      // width: 0px;

    }
    .sidebar-collapse:not(.sidebar-mini):not(.sidebar-mini-md):not(.sidebar-mini-xs) .main-sidebar, .sidebar-collapse:not(.sidebar-mini):not(.sidebar-mini-md):not(.sidebar-mini-xs) .main-sidebar::before {
      box-shadow: none !important;
      width: 0px;
  }
     
}
@media (min-width:664px) and (max-width:780px) {
  .outer-div{
    display: flex;justify-content: center;
    flex-direction: column;
    margin-left: 100px;
      }
      .inner2-div{
        margin-top: 50px;
        margin-left: -20px;
      }
    
      .inner1-div{
        width: 420px;
        margin-left:-0px ;
      }
      .dashboard-header{
       margin-left: 150px;
      }
      .about-dashboard{
        margin-left: 150px;

      }
     

      .body:not(.layout-fixed) .main-sidebar{
        height: inherit;
        min-height: 100%;
        position: absolute;
        top: 0;
        width: 0px !important;
    }
    .sidebar-collapse:not(.sidebar-mini):not(.sidebar-mini-md):not(.sidebar-mini-xs) .main-sidebar, .sidebar-collapse:not(.sidebar-mini):not(.sidebar-mini-md):not(.sidebar-mini-xs) .main-sidebar::before {
      box-shadow: none !important;
      width: 0px;
  }
     
      .sidebar{
        // display: none;
        // width: 0px;
        // display: none;

      }
      table{
        display: flex;
        flex-direction: column;
      }
    .order-pg-btn-flex{
      display: inline;
    }
   .order-pg-btn1{
    margin-bottom: 10px;
   }
    }
@media (min-width:520px) and (max-width:664px) {
  .outer-div{
    display: flex;
    flex-direction: column;
    margin-left: 50px;justify-content: center;
      }
      .inner2-div{
        margin-top: 50px;
        margin-left: -20px;
      }
    
      .inner1-div{
        width: 380px;
        margin-left:20px ;
      }
      .dashboard-header{
       margin-left: 150px;
      }
      .about-dashboard{
        margin-left: 150px;

      }
     

      .body:not(.layout-fixed) .main-sidebar{
        height: inherit;
        min-height: 100%;
        position: absolute;
        top: 0;
        width: 0px !important;
    }
    .sidebar-collapse:not(.sidebar-mini):not(.sidebar-mini-md):not(.sidebar-mini-xs) .main-sidebar, .sidebar-collapse:not(.sidebar-mini):not(.sidebar-mini-md):not(.sidebar-mini-xs) .main-sidebar::before {
      box-shadow: none !important;
      width: 0px;
  }
     
      .sidebar{
        // display: none;
        // width: 0px;
        // display: none;

      }
     div.col-12 {
overflow-x: auto;
// background-color: white;
    }
    .bgcolor-table{
      background-color: white;
      
          }
// table .table-bordered .table-hover  {
//   overflow-x: auto;
//   background-color: white;
//       }

    .order-pg-btn-flex{
      display: inline;
    }
   .order-pg-btn1{
    margin-bottom: 10px;
   }
}
@media (min-width:415px) and (max-width:520px) {



  .outer-div{
    display: flex;
    flex-direction: column;
  margin-left: 50px;
      }
      .inner2-div{
        margin-top: -10px;
        margin-left: 30px;
      }
    
      .inner1-div{
        width: 300px;
        // margin-left:20px ;
      }
      .dashboard-header{
       margin-left: 100px;
      }
      .about-dashboard{
        margin-left: 100px;

      }
     

      .body:not(.layout-fixed) .main-sidebar{
        height: inherit;
        min-height: 100%;
        position: absolute;
        top: 0;
        width: 0px !important;
    }
    .sidebar-collapse:not(.sidebar-mini):not(.sidebar-mini-md):not(.sidebar-mini-xs) .main-sidebar, .sidebar-collapse:not(.sidebar-mini):not(.sidebar-mini-md):not(.sidebar-mini-xs) .main-sidebar::before {
      box-shadow: none !important;
      width: 0px;
  }
     
      .sidebar{
        // display: none;
        // width: 0px;
        // display: none;

      }
     div.col-12{
overflow-x: auto;
// background-color: white;
    }
    .bgcolor-table{
      background-color: white;
      
          }
// table .table-bordered .table-hover  {
//   overflow-x: auto;
//   background-color: white;
//       }
 
    .oder-outer1{
            display: inline !important;

          }
          .oder-inner{
            margin-bottom: 0px;
          }
          .cj{
            margin-bottom: 20px;
          }
  .calender-input{
    display: none;
  }
  .order-pg-btn-flex{
    display: inline;
  }
 .order-pg-btn1{
  margin-bottom: 10px;
 }
 .accept-order-img{
 padding: 0px 0px 30px 0px;
}

}


@media (min-width:320px) and (max-width:415px) {



  .outer-div{
    display: flex;
    flex-direction: column;
  margin-left: 30px;
      }
      .inner2-div{
        margin-top: -10px;
        margin-left: 10px;
      }
    
      .inner1-div{
        width: 250px;
        // margin-left:20px ;
      }
      .dashboard-header{
       margin-left: 80px;
      }
      .about-dashboard{
        margin-left: 70px;

      }
     

      .body:not(.layout-fixed) .main-sidebar{
        height: inherit;
        min-height: 100%;
        position: absolute;
        top: 0;
        width: 0px !important;
    }
    .sidebar-collapse:not(.sidebar-mini):not(.sidebar-mini-md):not(.sidebar-mini-xs) .main-sidebar, .sidebar-collapse:not(.sidebar-mini):not(.sidebar-mini-md):not(.sidebar-mini-xs) .main-sidebar::before {
      box-shadow: none !important;
      width: 0px;
  }
     
      .sidebar{
        // display: none;
        width: 0px;
        display: none;

      }
     div.col-12 {
overflow-x: auto;
// background-color: white;
    }
    .bgcolor-table{
background-color: white;

    }
// table .table-bordered .table-hover  {
//   overflow-x: auto;
//   background-color: white;
//       }
    
    .oder-outer1{
            display: inline !important;

          }
          .oder-inner{
            margin-bottom: 0px;
          }
          .cj{
            margin-bottom: 20px;
          }
  

          .calender-input{
            display: none;
          }
          .order-pg-btn-flex{
            display: inline;
          }
         .order-pg-btn1{
          margin-bottom: 10px;
         }
      //    .order-pg-btn1 {
      //     height: 70px;
      //     background-color: #ffffff;
      //     border-radius: 5px;
      //     border: none;
   
      //     width: 100px;
      //   display: inline; 
      // }
       

}



