@import '~@fortawesome/fontawesome-free/css/all.css';

@import "fonts.css";
@import "~select2";
@import '~bootstrap/scss/functions';
@import '~admin-lte/build/scss/bootstrap-variables';
@import "~bootstrap/scss/bootstrap";

@import "~admin-lte/build/scss/variables";
@import "~admin-lte/build/scss/variables-alt";
@import "~admin-lte/build/scss/mixins";

@import "~admin-lte/build/scss/parts/core";
@import "~admin-lte/build/scss/parts/components";
@import "~admin-lte/build/scss/parts/miscellaneous";

@import "~admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.css";

@import "~admin-lte/build/scss/pages/login_and_register";

@font-face {
  font-family: 'Carmen Sans'; 
  src: url('/assets/fonts/CarmenSans-Regular.ttf') format('truetype');
      //  url('/path/to/fonts/sanser-regular.woff') format('woff'),
      //  url('/path/to/fonts/sanser-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.dashboard-header{
  font-family: 'Carmen Sans';
}


.content-wrapper > .content {
  padding: 0.5rem 0.5rem;
}

div.flash-messages {
  padding: 10px;
}
.content-wrapper > .content {
  padding: 0.5rem 0.5rem;
}
div.flash-messages {
  padding: 10px;
}
body{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-family: 'Carmen Sans', sans-serif !important;

}

.sidebar-dark-primary .nav-sidebar>.nav-item >.nav-link.active {
  // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #1985A1;
  border-radius:  7px;
  // margin-top: 3px;
  // height: 800px;
color: rgb(70, 73,76),1;

}
// @media (max-width: 600px) {

// .calender-input{
//   display: flex;
//   flex-direction: column;
// }
// .calender-input {
//   display: flex;
//   justify-content: right;
//   justify-content: space-between;
//   margin: 5px;
//    gap: 1px; 
// }
// }
@media (min-width: 768px) {
   body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
   
       margin-left: 330px;
   }
}
body:not(.layout-fixed) .main-sidebar {
  height: inherit;
  min-height: 100%;
  position: absolute;
  top: 0;
  width: 330px;
}

.nav-item:hover{
  background-color: #1985A1;
  color: white  !important;
  
  transition:all 0.5s;
  border-radius:  7px;
}
[class*=sidebar-dark-] .sidebar a {
 

  height: 58px;//45px firstly
  padding: 13px;//8px firstly
  font-size: 20px; 
}

.sidebar {
  background-color: rgb(255, 255, 255);
  color: #46494C;
}
.nav-sidebar{
  background-color: rgb(255, 255, 255);

}
.brand-link{
  background-color: #ffffff;
margin-top: -2px;
  // border-bottom: 1px solid red !important;
  box-shadow: 0px 3px  2px lightgray !important;
  border-bottom: 2px solid #dee2e6 !important;



  border-bottom:none !important;
}
table{
  border-radius: 15px;
  overflow: hidden;
}

.main-header a {
  border-bottom:none !important;

}


[class*=sidebar-dark-] .sidebar a {
  color: #46494C ;
}
[class*=sidebar-dark-] {
  background-color: #ffffff !important;
  box-shadow: 0px 3px  2px lightgray !important;

}


// .fa, .fas, .far, .fal, .fad, .fab {
 
//   color:#1985A1 ;
// }
.rotate-icon-dashboard {
  transform: rotate(180deg); /* Rotate 180 degrees */
}
 .fas, .fal, .fad, .fab, .fa-solid, .fa-regular {
 
  color:#1985A1 ;
}
.calender-icn{
  color:#787878 !important ;
}
 .nav-item:hover i{
 
  color:#ffffff;
}
.nav-item a.active i{
  color: #ffffff;

}
.signup-icon:hover i{
  color: #1985A1;


}
.user-footer  :hover .signup-icon-self{
color: #fff !important;
background-color: #1985a1;
}
.elevation-4 {
  box-shadow: none !important;
}
.main-header.navbar.navbar-expand ul:nth-child(1){
  display: none;
}
.nav.main-header.navbar.navbar-expand.navbar-white.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 3px  2px lightgray !important;
  border-bottom: 2px solid #dee2e6 !important;

}
.content-wrapper {
  background: #EAEAEA;
  
}
[class*=sidebar-dark] .brand-link {
  box-shadow: 0px 2px  2px lightgray !important;
  position: relative;
    z-index: 10;
     border-bottom: 1px solid #dee2e6 !important;
}
.bg-primary, .bg-primary > a {
  color: #fff !important;
  background-color:#1985A1 !important;
}
.signup-btn:hover {
  color:#ffffff !important;


}b
.about-dashboard{
  font-family: 'Carmen Sans', sans-serif;
  color:  #6F6F6F;
  margin-top: -10px;
  margin-left: 2px;
}

a:hover i{
  color: #fff;
}
button:hover i{
  color: #fff;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default {
  color: #ffffff;
  background-color: #ddd;
}


.heading-dashboard{
  display: flex;
  width:auto;justify-content: space-between;
}
.calender-input{
  display: flex;
  justify-content: right;
  justify-content: space-between;
margin: 5px;gap: 1rem;
}

.input-1{
 border-radius: 2px;
 border: none;
 width: 55px;color: #1985A1;
 height: 15px;

}
.input-2{
  border-radius: 2px;
  border: none;
  width: 55px;color: #1985A1;
  height: 15px;
 }

 .outer-div{
display: flex;
justify-content: space-between;
max-width: 100%;
padding-bottom: 40px;
 }
 .custom-select{
  border-radius: 10px !important;
  font-size: 103%;
  // padding: 1px 0px 1px 4px;
  padding: 0px 0px 3px 4px;
  background-position-x: 33px;
 }
 div.dataTables_wrapper div.dataTables_length label {
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  color: #787878;margin-top: 3px;
  margin-bottom: 30px;
}
#for-border:hover{
  border-radius: 20px !important;
}
 


div.dataTables_wrapper div.dataTables_length select {
  width: 55px;
  display: inline-block;
  width: 48px; 
  height: 25px;
  padding-left: -4px;
}
select.custom-select.custom-select-sm {
  border-radius: 8px !important;
 
}
 .custom-select-sm{
  font-size: 95%;
 }
 .inner1-div{
 
  height: 240px;
  width: 580px;padding: 25px 0px 25px 25px ;
  background-color: #ffffff;
  border-radius: 20px;
  // margin-right: 120px;
 }
 .rupees-heading{
  font-weight:700 ;font-size: 22px;
 }
 .rupees-heading-text{
  // font-weight: 400;
font-size: 15px;margin-top: -3px;
}
 .inner2-div{
  border: none;
  // height: 290px;
  width: 450px;


 }
 .btn-default {
  background-color: #ddd;
  border-color: #ddd;
  color: #444;
}
.icn {
  color: #000;
}
.icn2{
  color: #1985A1;padding-top: 3px;
}
.icn2:hover{
  color: #ffffff;padding-top: 3px;
}
.icn3{
  color: #ffffff;padding-top: 3px;
}
.btn-back{
  border-radius: 20px;margin-left: 5px;height: 37px;
  padding-left: 5px;
}
.icn4{
  border-radius: 20px;height: 31px;padding-right: 7px;
}
a .icn4:hover{
  color: #ffffff;
}
.icnx{
  border-radius: 20px;height: 31px;padding-right: 7px;
}
.icnx:hover{
  color: #fff;
}


.oder-outer1{
  display: flex;justify-content: space-between;padding: 10px;margin-top: -10px;
}
// .oder-inner{
//   height: 73px;background-color: #ffffff;margin-left: 15px;
//   border-radius: 15px;border: none;gap: 39px;
//   width: 200px;display: flex;padding: 10px;word-wrap: break-word;
// }
.oder-inner {
  height: 73px;
  background-color: #ffffff;
  /* margin-left: 15px; */
  border-radius: 15px;
  /* border: none; */
  gap: 40px;
  width: 204px;
  display: flex;
  padding: 10px 0px 0px 10px;
  word-wrap: break-word;
}
.img-set{
  width: 50px;
  height: 50px;
}
.img-side-head{
  font-weight: 700;
  font-size: 28px;margin-left: -15px;
}
.img-side-text{
  font-weight: 200;margin-left: -13px;
  font-size:11px;
}
.content-wrapper > .content {
  padding: 20px !important;
}
.accept-order-img{
  display: flex;padding: 0px 30px 30px 0px;gap: 20px;
}
.main-order-pg-btn-flex{
  display: flex;
  justify-content: space-between;
}
.order-pg-btn-flex{
  display: flex;padding: 10px;margin-top: -10px;
  justify-content: space-between; gap: 20px;
}


.order-pg-btn1{
  height: 50px;background-color: #ffffff;
  border-radius: 5px;border: none;gap: 20px;
  width: 170px;display: flex;padding: 10px;
  box-shadow: 2px 2px 2px 1px lightgray;
}
.order-pg-btn2{
  height: 50px;background-color: #ffffff;
  border-radius: 5px;border: none;gap: 20px;
  width: 170px;display: flex;padding: 10px;box-shadow: 2px 2px 2px 1px lightgray;
}
.img-side-text-order{
  font-weight: 400;
  font-size: 12px;
margin-top: 7px;
   display: flex;
   color:#46494C ;
}
// style #attribute {
//   background: #9e2929;
//   cursor: pointer;
//   padding: 5px 10px;
//   border: 1px solid #ccc;color:#46494C ;
//   width: 320px;border-radius: 5px;
// }
.img-order-pix{
  height: 35px;width: 35px;
}
.title-heading{
  margin-top: 6px;
}
div.dataTables_wrapper div.dataTables_filter {
  text-align: right;
  display: none !important;
}
.card-title{
  color: #46494C !important;
  font-size: 15px;
}

.cheakline {
 
  background-color: black;
  width: 130px;
  height: 5px;
  margin-left: 110px;
}
.icon-set{
  width: 20px;height: 20px;margin-top: -5px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 4px;
  right: 1px;
  width: 33px;
  
}
*{
  font: 'Carmen Sans', sans-serif;
}
.btn-primary {
  color:#1985A1 !important;
  background: transparent !important;
  border-color:#1985A1;
  box-shadow: none;
  border-radius: 20px;
  width: 80px;
  height: 40px;
  display: flex;text-align: center;justify-content: center;
}
.btn-primary:hover{
  border-color:#1985A1 !important;
  color: rgb(255, 255, 255) !important;
}
.company-searcher{
  display: flex;
  justify-content: space-between;
padding: 15px ;
margin-bottom: -15px;
margin-left: -15px;
}
.input-container {
  position: relative;padding-left: 20px;
  width: 300px;
}

.input-container input {
  width: 100%;
  height: 35px;
  padding: 10px;
  padding-right: 35px; /* Add padding to the right to make space for the icon */
  font-size: 16px;
  border-radius: 20px;
    box-sizing: border-box;
    border: 1px solid #D8D8D8;
    color: black; /* Text color (when the user types) */
}

.input-container .fa {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);

  color: #D8D8D8;
  cursor: pointer; /* Change the cursor to a pointer on hover */
}

.input-container .fa:hover {
  color: #000; /* Optional: Change icon color when hovered */
}
input::placeholder {
  
  color: #D8D8D8;
}
.input-email-placeholder::placeholder {

  transform: translatex(40px); /* Adjust position vertically */
}
.input-password-placeholder::placeholder {

  transform: translatex(10px); /* Adjust position vertically */

}
input::placeholder::after{


  color: #000000;
}
.input-container input:focus {
border: color(#D8D8D8) !important;
border-color: #D8D8D8 !important;
border: none !important;
}

.header-login{
display: flex;
text-align: center;justify-content: center;
font-size: 30px;color: #fff;

}
.login-box-msg, .register-box-msg {
  margin: 0;
  padding: 0 20px 20px;
  text-align: center;color: #fff;
}
.input-group:not(.has-validation) > .form-control:not(:last-child), .input-group:not(.has-validation) > .custom-select:not(:last-child), .input-group:not(.has-validation) > .custom-file:not(:last-child) .custom-file-label, .input-group:not(.has-validation) > .custom-file:not(:last-child) .custom-file-label::after {

    border: 5px;
    // height: 60px;
    margin-top: 10px;
  border-radius: 5px !important;
}
.login-card-body .input-group .form-control, .register-card-body .input-group .form-control {
   border-right: 0; 
   margin-top: 4px;
}
.form-control{
  border-radius: 1.25rem !important;
  color: #787878
}
.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 1.25rem;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
}
.mb-1 a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  display: flex;
  justify-content: right;
}
.col-4 .btn-primary {
  color: #ffffff !important;
  background: #1985A1 !important;
  border-color: rgb(25, 133, 161);
  box-shadow: none;
  border-radius: 5px;
  width: 190px;font-size: 20px;
  height: 47px;font-weight: 500;
  display: flex;
  text-align: center;justify-content: center;
}
.col-4 .btn-primary:hover{
  background:rgba(67,69,71,255) !important;
}
.login-center{
  display: flex;
  text-align: center;
  margin-top: 30px;
  justify-content: center;
  margin-left: -45px;
}
.login-card-body, .register-card-body {
 border-radius: 55px;
  color: #000000;
  padding: 40px;
  // background: rgba(18, 123, 149, 0.1) !important; /* Transparent background */
  background: linear-gradient(to right, rgb(25, 133, 161,0.4),rgb(25, 133, 161,0.2),rgb(214, 214, 214,-0.5),rgb(25, 133, 161,0.4)),;
  backdrop-filter: blur(-2px); /* Blurs the background behind the form */

}
.logo-large-screen{
  
    margin-left: 0px !important;
    }
.card-new-set {
  
  display: flex !important;
height: 410px;
margin-left: -50px !important;
  word-wrap: break-word !important;
  width: 470px;
  background-color: rgba(255, 255, 255, 0.2) !important;
  background-clip: border-box !important;
  border: 0 solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 0.25rem !important;
  backdrop-filter: blur(10px) ; /* Blurs the background behind the form */
  z-index: 1 !important; /* Keep the form in front */
  border-radius: 55px !important;
}
.login-page,.register-page {
 


   
      display: flex;
  justify-content: center;background-size: cover;
  align-items: center;
  background-image: linear-gradient(to right, rgba(119, 223, 252, 0.512), rgba(137, 220, 245, 0.485)),url('../images/login-logo.png');
}


 
.companies-btn {
    color: #1985A1  !important;
    background-color: #ffffff!important;
    border-color: #1985a1 !important;
    // margin-left: 10px;
    width: 130px;padding-top: 3px;
    box-shadow: none;height: 31px;
  }
  .companies-btn:hover {
    color: #fff  !important;
    background-color: #1985a1!important;
    border-color: #1985a1 !important;
    box-shadow: none;
  }
.icon-color-companie{
  color: #fff;
margin-top: 4px;margin-right: 5px;
}
.pakagestype-btn{
  width: 155px;
  height: 31px;
  border-radius:20px ;

}
body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
 justify-content: space-between;
}
.icon-pakagestype{
  margin-top: 5px;margin-right: 7px;
}
.pakagestype-btn:hover{
color: #fff !important;

}
.user-btn{
  width: 110px;
  height: 33px;
  border-radius:5px;text-align: center;justify-content: center;

}
.icon-user{
  margin-top: 4px;margin-right: 13px;
}
 .user-btn:hover{
  color: #fff !important;
  border-radius:5px;
  
  }
  .icon-key:hover{
    color: #fff !important;
    border-radius:5px;
    
    }


.password-feild {
  height: 50px !important;
border: none;background-color: transparent;
}
.password-feild:focus{
  background-color: transparent;
}
.password-feild2{
  // height: 20px;
border: none;background-color: transparent;
}
.password-feild2:focus{
  background-color: transparent;
}

.input-group:not(.has-validation) > .form-control:not(:last-child), .input-group:not(.has-validation) > .custom-select:not(:last-child), .input-group:not(.has-validation) > .custom-file:not(:last-child) .custom-file-label, .input-group:not(.has-validation) > .custom-file:not(:last-child) .custom-file-label::after {
    border: 5px;
    margin-top: 10px;
    border-radius: 5px !important;
    height: 60px;
}
.setting{
  height: 31px !important;
} 
.input-container-password {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  width: 250px;
}

.input-container-password img {
  margin-right: 8px;
  width: 20px; /* Set width of the icon image */
  height: 20px; /* Set height of the icon image */
}

.input-container-password input {
  border: none;
  outline: none;
  width: 100%;
}
.input-group-text {
  // display: flex; 
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;width: 30px;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border-radius: 1px 0px 1px 1px solid black;
  border-radius: 0.25rem;
  /* border: 2px solid black; */margin-left: 2px;
  background-color:transparent!important;
  border-radius: 5px 0px 0px 5px !important;
  border:none;
}
.password-bg-white{
  background-color: white !important;
  border-radius: 5px;
height: 60px;

}
.icon-lock-color{
 margin-top: -1px;
      width: 27px; /* Set width of the icon image */
      height: 27px; /* Set height of the icon image */
}
   /* Change background color on autofill */
   .autofill-color input:-webkit-autofill {
    background-color: #ffffff !important; /* Light blue background */
    transition: background-color 5000s ease-in-out 0s; /* Prevents default color flash */
  }
  
  .autofill-color input:-webkit-autofill:focus {
    background-color: #ffffff !important;
  }
  .login-box-msg, .register-box-msg {
    margin-top: -10px;
    padding: 0 20px 20px;
    text-align: center;
    color: #fff;
}
.mb-1 a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  display: flex;
  justify-content: right;
  margin-top: -14px;
  font-size: 14px; ;
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #1985A1;
  border-color: #1985A1;
}
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #000000;
  background-color: #fff;
  border: none;
}
div.dataTables_wrapper div.dataTables_info {
  padding-top: 0.85em;
  display: none;
}
.btn-default:hover{
  background-color: #1985A1 !important;
  border-color: #ddd;
  color: #ffffff;
}
[class*=sidebar-dark-] .nav-sidebar > .nav-item > .nav-link.active {
  color: #fff;
   box-shadow: none;
   margin-top: 0.2rem;

}


div.dataTables_processing > div:last-child > div:nth-child(1) {
  left: 8px;
  animation: datatables-loader-1 0.6s infinite;
  background-color: #1985A1;
}
div.dataTables_processing > div:last-child > div:nth-child(2) {
  left: 8px;
  animation: datatables-loader-2 0.6s infinite;
  background-color: #1985A1;
}
div.dataTables_processing > div:last-child > div:nth-child(3) {
  left: 32px;
  animation: datatables-loader-2 0.6s infinite;
  background-color: #1985A1;
}
div.dataTables_processing > div:last-child > div:nth-child(4) {
  left: 56px;
  animation: datatables-loader-3 0.6s infinite;
  background-color: #1985A1;
}
.card-primary:not(.card-outline) > .card-header {
  background-color: #ffffff;
  height: 50px !important;
}
.comany-head-form{
  color: #000;
  font-size: 20px;margin-top: -3px;
}
.company-icon-head{
  width: 40px !important;
  height: 40px !important;margin-top: 5px;
}
.flex-of-comany-form{
  display: flex;
}
div.card-footer{
  display: flex;background-color: #ffffff;padding: 30px 0px 40px 2px;
}
.card{
  
    box-shadow:none;
    margin-bottom: 1rem;

}
td{
  color: #46494C;
  ;
}
th{
  color: #46494C;
}
label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 700;
  color: #46494C;
}

.main-footer {
  background-color: #fff;
  
  color: rgb(134.015625, 143.75, 153.484375);
  padding: 1rem 1rem 1rem 2rem;
  margin-left: 0px !important;
  border: none;
  font-size: 15px;
}

.pakag-show-btn{
  height: 37px;
}
.compani-show-btn{
  margin-left:12px;height: 37px;

}
.btns-last-icon{
padding-top: 3px;
padding-right: 8px;

}
.compani-btns-last{
width: 120px;height: 30px;
}
.nav-item:hover.compani-btns-last{
  color: #fff !important;
  border-radius: 15px !important;
}

i:hover.fas.fa-plus{
color: #1985a1 !important;

}

.btn-danger {
  color: #1985A1  !important;
  background-color: #ffffff!important;
  border-color: #1985a1 !important;
  margin-left: 10px;
  width: 85px;padding-top: 5px;
  box-shadow: none;
}
.btn-danger:hover {
  color: #fff  !important;
  background-color: #1985a1!important;
  border-color: #1985a1 !important;
  box-shadow: none;
}
.minus-icn:hover{
  color: #fff  !important;

}
div.card-footer{
  background-color: #fff;
  height: 88px;
  border-radius: 17px;

}
.btn-danger1 {
  color: #1985A1 !important;
  background-color: #ffffff !important;
  border-color: #1985a1 !important;
  margin-left: 10px;
  width: 84px;
  padding-top: 2px;
  box-shadow: none;
  padding-left: 5px;
}
.btn-danger1:hover {
  color: #fff  !important;
  background-color: #1985a1!important;
  border-color: #1985a1 !important;
  box-shadow: none;
}
.icn41 {
  border-radius: 20px;
  height: 33px;
  padding-right: 8px;
}
.icn412:hover{
  color: #fff;
}
.btn-danger12 {
  color: #1985A1 !important;
  background-color: #ffffff !important;
  border-color: #1985a1 !important;
  margin-left: 10px;
  width: 84px;
  padding-top: 5px;
  box-shadow: none;
  padding-left: 5px;
}
.btn-danger12:hover {
  color: #fff  !important;
  background-color: #1985a1!important;
  border-color: #1985a1 !important;
  box-shadow: none;
}
.icn412 {
  border-radius: 20px;
  height: 31px;
  padding-right: 7px;
}
.icn412:hover{
  color: #fff;
}



div.card-footer {
  background-color: #ffffff;
}
.btn-cancle{
  height: 37px ;
  border-radius: 20px;

}
.btn-cancle2{
  height: 37px ;
  border-radius: 20px;

}

.btn-back{
  height: 37px ;
  border-radius: 20px;
}
.text-form{
  margin-left: -15px;
  margin-top: -13px;
  color:  #AEAEAE;
}
.password-bg-white2{
  height: 32px;
  width: 100px;
  border-radius: 5px;
  background-color: #fff;
}
.icon-lock-color2{
  height: 20px;
  margin-top: 0px;
  margin-left: -7px;
}
.fa-angle-down:before {
  content: "\f107";
  color: #858588;
  margin-left: 4px;
}
// .rotate-i:hover{
//   transform: rotate(180deg); /* Rotate to point upwards */
// margin-left: 3px;
// }
.password-bg-white2:hover .rotate-i  {
  transform: rotate(180deg); /* Rotate to point upwards */
margin-left: 3px;
}
.rotate-i1{
  font-size: larger;
}
// .rotate-i1:hover{
//   transform: rotate(180deg); /* Rotate to point upwards */
// padding-left: 3px !important;

// }
body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
  justify-content: space-between;
}
// .second-logo{
//   display: flex;
//   align-items: start;
// }
ul.navbar-nav a {
  gap: 200px; /* Adds space only after the first box */
}
.navbar-expand .navbar-nav {
  flex-direction: row;
  padding-bottom: 0px;
  padding-top: 4px;
}



//media qureys//media qureys//media qureys//media qureys//media qureys//media qureys//media qureys//media qureys//media qureys

@media (min-width:993px) {
.brand-second-logo{
  display: none;
}

}

@media (min-width:1640px) {
  .inner1-div{
width: 780px;
  }
  .inner2-div{
    width: 670px;

  }
  .oder-inner{
    width: 305px;
    gap: 80;
  }
  .img-set-large{
    margin-left: 15px;
  }
  .outer-div{
    gap: 70px;
  }

}

@media (min-width:1365px) and (max-width:1795px) {
  .oder-outer1{
    gap: 20px !important;
  }
  .outer-div{
    gap: 70px;
  }
 
  }
  @media (min-width:1110px) and (max-width:1365px) {
    .oder-outer1{
      gap: 20px !important;
    }
    .outer-div{
      gap: 70px;
    }
}
@media (min-width:1000px) and (max-width:1110px) {
  .outer-div{
display: flex;justify-content: center;
flex-direction: column;justify-content: space-between;

  }
  .inner2-div{
    margin-top: 50px; 
    margin-left: 10px;
  }

  .inner1-div{
    width: 500px;
  }

}
@media (min-width:780px) and (max-width:999px) {
  .outer-div{
    display: flex;justify-content: center;
    flex-direction: column;justify-content: space-between;
    margin-left: 150px;
      }
      .inner2-div{
        margin-top: 50px;
    margin-left: 45px;
      }
    
      .inner1-div{
        width: 560px;
        
      }
      .dashboard-header{
       margin-left: 300px;
      }
      .about-dashboard{
        margin-left: 280px;

      }
     
      .body:not(.layout-fixed) .main-sidebar{
        height: inherit;
        min-height: 100%;
        position: absolute;
        top: 0;
        width: 0px !important;
    }

    .sidebar-collapse:not(.sidebar-mini):not(.sidebar-mini-md):not(.sidebar-mini-xs) .main-sidebar, .sidebar-collapse:not(.sidebar-mini):not(.sidebar-mini-md):not(.sidebar-mini-xs) .main-sidebar::before {
      box-shadow: none !important;
      width: 0px;
  }
  .calender-input{
    display: flex;
    flex-direction: column;
    }

     
}
@media (min-width:664px) and (max-width:780px) {
  .outer-div{
    display: flex;justify-content: center;
    flex-direction: column;justify-content: space-between;
    margin-left: 100px;
      }
      .inner2-div{
        margin-top: 50px;
        margin-left: -20px;
      }
    
      .inner1-div{
        width: 420px;
        margin-left:-0px ;
      }
      .dashboard-header{
       margin-left: 150px;
      }
      .about-dashboard{
        margin-left: 150px;

      }
     

      .body:not(.layout-fixed) .main-sidebar{
        height: inherit;
        min-height: 100%;
        position: absolute;
        top: 0;
        width: 0px !important;
    }
    .sidebar-collapse:not(.sidebar-mini):not(.sidebar-mini-md):not(.sidebar-mini-xs) .main-sidebar, .sidebar-collapse:not(.sidebar-mini):not(.sidebar-mini-md):not(.sidebar-mini-xs) .main-sidebar::before {
      box-shadow: none !important;
      width: 0px;
  }
     
  
      table{
        display: flex;
        flex-direction: column;
      }
    .order-pg-btn-flex{
      display: inline;
    }
   .order-pg-btn1{
    margin-bottom: 10px;
   }
   .calender-input{
  display: flex;
  flex-direction: column;
  }
    }
@media (min-width:520px) and (max-width:664px) {
  .outer-div{
    display: flex;
    flex-direction: column;justify-content: space-between;
    margin-left: 20px;justify-content: center;
      }
      .inner2-div{
        margin-top: 50px;
        margin-left: -20px;
      }
    
      .inner1-div{
        width: 380px;
        margin-left:20px ;
      }
      .dashboard-header{
       margin-left: 50px;
      }
      .about-dashboard{
        margin-left: 50px;

      }
     

      .body:not(.layout-fixed) .main-sidebar{
        height: inherit;
        min-height: 100%;
        position: absolute;
        top: 0;
        width: 0px !important;
    }
    .sidebar-collapse:not(.sidebar-mini):not(.sidebar-mini-md):not(.sidebar-mini-xs) .main-sidebar, .sidebar-collapse:not(.sidebar-mini):not(.sidebar-mini-md):not(.sidebar-mini-xs) .main-sidebar::before {
      box-shadow: none !important;
      width: 0px;
  }

    .bgcolor-table{
      background-color: white;
      overflow-x: auto;
      margin-bottom: 10px;
          }


    .order-pg-btn-flex{
      display: inline;
    }
   .order-pg-btn1{
    margin-bottom: 10px;
   }
   .calender-input{
    display: flex;
    flex-direction: column;
    }

    .card-header:first-child {
      // border-radius: calc(0.25rem - 0) calc(0.25rem - 0) 0 0;
      max-width: auto;
    }
}
@media (min-width:415px) and (max-width:520px) {




  .outer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
      }
      .inner2-div{
        margin-top: -10px;  width: 250px;

        margin-left: 30px;
      }
    
      .inner1-div{
        width: 300px;
        // margin-left:20px ;
      }
      .dashboard-header{
       margin-left: 100px;
      }
      .about-dashboard{
        margin-left: 100px;

      }
     

      .body:not(.layout-fixed) .main-sidebar{
        height: inherit;
        min-height: 100%;
        position: absolute;
        top: 0;
        width: 0px !important;
    }
    .sidebar-collapse:not(.sidebar-mini):not(.sidebar-mini-md):not(.sidebar-mini-xs) .main-sidebar, .sidebar-collapse:not(.sidebar-mini):not(.sidebar-mini-md):not(.sidebar-mini-xs) .main-sidebar::before {
      box-shadow: none !important;
      width: 0px;
  }
     

    .bgcolor-table{
      background-color: white;
      overflow-x: auto;
      margin-bottom: 10px;

          }

 
    .oder-outer1{
            display: inline !important;
width: 200px;
gap: 10px;
          }
          .oder-inner{
            margin-bottom: 0px;
          }
          .cj{
            margin-bottom: 20px;
          }
          .calender-input{
            display: flex;
            flex-direction: row;
            margin-left: 70px;
            padding-bottom: 10px;
            }
  .order-pg-btn-flex{
    display: inline;
  }
 .order-pg-btn1{
  margin-bottom: 10px;
 }
 .accept-order-img{
 padding: 0px 0px 30px 0px;
}

}
@media  (max-width:440px) {

.main-order-pg-btn-flex{
  display: flex;
  flex-direction: column;


}
}
@media  (max-width:415px) {


  

  .outer-div{
    display: flex;
    flex-direction: column;
  margin-left: 30px;justify-content: space-between;
  justify-content: space-between !important;
      }
      .inner2-div{
        margin-top: -10px;
        margin-left: 10px;        width: 250px;

      }
    
      .inner1-div{
        width: 250px;
     ;
      }
      .dashboard-header{
       margin-left: 80px;
      }
      .about-dashboard{
        margin-left: 70px;

      }
      .calender-input{
        display: flex;
        flex-direction: row;
        margin-left: 50px;
        padding-bottom: 10px;

        }

      .body:not(.layout-fixed) .main-sidebar{
        height: inherit;
        min-height: 100%;
        position: absolute;
        top: 0;
        width: 0px !important;
    }
    .sidebar-collapse:not(.sidebar-mini):not(.sidebar-mini-md):not(.sidebar-mini-xs) .main-sidebar, .sidebar-collapse:not(.sidebar-mini):not(.sidebar-mini-md):not(.sidebar-mini-xs) .main-sidebar::before {
      box-shadow: none !important;
      width: 0px;
  }
     
      .sidebar{
       
        width: 0px;
        display: none;

      }

    .bgcolor-table{
background-color: white;
overflow-x: auto;
margin-bottom: 10px;

    }

    
    .oder-outer1{
            display: inline !important;
gap: 10px;
          }
          .oder-inner{
            margin-bottom: 0px;
          }
          .cj{
            margin-bottom: 20px;
          }
  

         
          .order-pg-btn-flex{
            display: inline;
          }
         .order-pg-btn1{
          margin-bottom: 10px;
         }
         
}
@media  (max-width:770px) {
.cheakline{
  display: none;
}
}
@media  (max-width:825px) {

  .login-center{
    display: flex;
    text-align: center;
    margin-top: 30px;
    justify-content: center;
    margin-left: -45px;
  }
  .login-card-body, .register-card-body {
   border-radius: 55px;
    color: #000000;
    padding: 40px;
    // background: rgba(18, 123, 149, 0.1) !important; /* Transparent background */
    background: linear-gradient(to right, rgb(25, 133, 161,0.4),rgb(25, 133, 161,0.2),rgb(214, 214, 214,-0.5),rgb(25, 133, 161,0.4)),;
    backdrop-filter: blur(-2px); /* Blurs the background behind the form */
  
  }
  .card-new-set {
    
    display: flex !important;
  height: 290;
  margin-left: -50px !important;
    word-wrap: break-word !important;
    width: 210;
    background-color: rgba(255, 255, 255, 0.2) !important;
    background-clip: border-box !important;
    border: 0 solid rgba(0, 0, 0, 0.125) !important;
    border-radius: 0.25rem !important;
    backdrop-filter: blur(10px) ; /* Blurs the background behind the form */
    z-index: 1 !important; /* Keep the form in front */
    border-radius: 55px !important;
  }


}
