{% extends 'emails/base.html.twig' %}


{% block body %}
    <p>Dear Support</p>
    <p>We have received a new order.</p>
    <p><a href="{{ orderURL }}">{{ orderId }}</a></p>
    <p>
        Regards<br>
        Admin
    </p>
{% endblock %}