{% extends 'emails/base.html.twig' %}


{% block body %}
    <p>Dear {{ user.firstName }}</p>
    <p>Please click on the link below to activate your email.</p>
    <p>Activation URL: <a href="{{ activationURL }}" target="_blank" rel="noopener">{{ activationURL }}</a></p>
    <p>If you have any trouble activating your email please email <a href="mailto:support@sendit.world">support@sendit.world</a>.</p>
    <p>
        Regards<br>
        Send it Team
    </p>
{% endblock %}