<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>{% block title %}Send IT{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block inlineCss %}{% endblock %}
      <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
       <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body class="layout-footer-fixed hold-transition {% block bodyClass %}{% endblock %}">
<div class="wrapper">

    {% include '/includes/navbar.html.twig' %}

    {% include '/includes/left-sidebar.html.twig' %}

    <!-- Content Wrapper -->
    <div class="content-wrapper">
        <!-- (Page header) -->

        {% if app.session.flashBag.has('message') %}
            <div class="flash-messages">
                {% for flashMessage in app.session.flashbag.get('message') %}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fas fa-check"></i> {{ flashMessage }}</h5>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if app.session.flashBag.has('error') %}
            <div class="flash-messages">
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fas fa-check"></i> {{ flashMessage }}</h5>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if block('pageTitle') %}
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <h1>{% block pageTitle %}{% endblock %}</h1>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

        <!-- Main content -->
        <section class="content">
            {% block body %}{% endblock %}
        </section>
    </div>

    {# {% include '/includes/footer.html.twig' %} #}

{#     {% include '/includes/right-sidebar.html.twig' %}#}
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
{% block inlineJs %}{% endblock %}
</body>
</html>
