{% extends 'base.html.twig' %}

{% block title %}Locale{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-newspaper mr-1"></i>
                        Locale
                    </h3>
                    {% if is_granted('ROLE_ADMIN')  %}
                        <div class="card-tools">
                            <ul class="nav nav-pills ml-auto">
                                <li class="nav-item">
                                    <a href="{{ path('app_locale_new') }}" class="btn btn-primary btn-block btn-sm">
                                        <i class="fa fa-plus"></i> Add Locale</a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}

                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover" id="userTableList">
                        <thead>
                        <tr>
                            <th>Code</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block inlineJs %}
    <script>
        $(document).ready(function () {
            $('#userTableList').DataTable({
                "paging": true,
                "ordering": false,
                "responsive": true,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "{{ path('app_locale_index') | raw }}",
                    "type": 'POST',
                    global: true
                },
                "columns": [
                    {"data": "code"},
                    {
                        "data": "action",
                        "render": function (data) {
                            return '<a href="' + data['edit'] + '" class="btn btn-default"><i class="fas fa-edit"></i> Edit</a>';
                        }
                    }
                ]
            });

        });
    </script>
{% endblock %}


